<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="" />
		<add key="Host" value="localhost" />
		<add key="Port" value="8088" />
		<add key="SSL" value="false" />
		<add key="BING_MAP_KEY" value="AhHw3CIbbSlKOM2MAhLQB7U7oWoAKcBOsbJwAigeWYMgSkFJhjkQlvae8eUpkjQH" />
	</appSettings>
</configuration>